<StackLayout>
<ScrollView height="88%">
<StackLayout verticalAlignment="center">
<Label *ngIf="this.waiting" text="Please Wait"></Label>
<StackLayout *ngIf="!this.waiting">
    <Button (tap)="openClass()" [text]="this.Class_Section"  class="plusbutton" height="10%" width="90%" row="0" col="2"></Button>
    <ScrollView *ngIf="this.openclass" width="90%" height="25%" style="background-color: #c0c0c0;">
        <StackLayout >
            <template *ngFor="let item of this.classes; index as i">
                <StackLayout (tap)="setclass(i)">
                <Label [text]="item" horizontalAlignment="center" fontSize="20"></Label>
                <Label text="" class="line" width="90%"></Label>
                </StackLayout>
            </template>
        </StackLayout>
    </ScrollView>
</StackLayout>
<StackLayout  *ngIf="!this.waiting">
    <Button (tap)="openSubject()" [text]="this.Subject" class="plusbutton" height="10%" width="90%" row="0" col="2"></Button>
    <ScrollView *ngIf="this.opensubject" width="90%" height="25%" style="background-color: #c0c0c0;">
        <StackLayout >
            <template *ngFor="let item of this.subjects; index as i">
                <StackLayout (tap)="setsubject(i)">
                <Label [text]="item" horizontalAlignment="center" fontSize="20"></Label>
                <Label text="" class="line" width="90%"></Label>
                </StackLayout>
            </template>
        </StackLayout>
    </ScrollView>
</StackLayout>
<StackLayout  *ngIf="!this.waiting">
    <Button (tap)="openExam()" [text]="this.Exam"  class="plusbutton" height="10%" width="90%" row="0" col="2"></Button>
    <ScrollView *ngIf="this.openexam" width="90%" height="25%" style="background-color: #c0c0c0;">
        <StackLayout >
            <template *ngFor="let item of this.exams; index as i">
                <StackLayout (tap)="setexam(i)">
                <Label [text]="item" horizontalAlignment="center" fontSize="20"></Label>
                <Label text="" class="line" width="90%"></Label>
                </StackLayout>
            </template>
        </StackLayout>
    </ScrollView>
</StackLayout>
</StackLayout>
</ScrollView>
<Button text="Get Marks" width="90%" class="addbutton" height="10%" (tap)="getmarks()"></Button>
</StackLayout>