<ActionBar title="Attendance" color="white">
    <ActionItem position="right" (tap)="goHome()">
        <Image height=40 width=40 src="~/images/homeicon.png"></Image>
    </ActionItem>
</ActionBar> 

<StackLayout *ngIf="this.loading">
    <Label text="Loading Please Wait !" class="loading"></Label>
</StackLayout> 

<ScrollView class="page" *ngIf="!this.loading" height="100%"> 
    <StackLayout>
        <StackLayout backgroundColor="#f1f1f1">
            <Label fontWeight="900" fontSize="16" text="Your Current Attendance Percentage : " horizontalAlignment="center" textWrap="true"></Label>
        </StackLayout>  
        
        <GridLayout [columns]="columns" class="progressbar">
            <StackLayout col="0" class="progressbar-value"></StackLayout>
        </GridLayout> 

        <StackLayout backgroundColor="#f1f1f1">
            <Label fontWeight="900" fontSize="16" text="Your Last Three Records :" horizontalAlignment="center" textWrap="true"></Label>
        </StackLayout> 
          
        <StackLayout marginTop="8">
            <template *ngFor="let row of this.rows; let i=index">
                <GridLayout rows="auto", columns="15*,35*,35*,15*">
                    <Label [text]= "row[0]+' :'" row="0" col="1" marginTop="6" textWrap="true" fontWeight="700" fontSize=14></Label>
                    <Image *ngIf="row[1]==1" height="25" weight="30" row="0"  col="2" borderRadius="50" src="~/images/right.png"></Image>
                    <Image *ngIf="row[1]==-1" height="25" weight="30" row="0"  col="2" borderRadius="50" src="~/images/right.png"></Image>
                </GridLayout> 
            </template>
        </StackLayout>
    </StackLayout>    
</ScrollView> 