<ActionBar title="Teacher Page">
    <ActionItem position="right" (tap)="logout()">
        <Image height=40 width=40 src="~/images/logouticon.png"></Image>
    </ActionItem>
</ActionBar>  
    
<ScrollView class="home-page">
    <StackLayout style="vertical-align:'center'">
        <Label fontWeight="900" color="white" fontSize="17" horizontalAlignment="center" text="Welcome, Teacher !"></Label> 
        <GridLayout rows="15,auto,15,auto,15,auto,15" columns="6*,41*,6*,41*,6*" >
            <StackLayout  [nsRouterLink]="['/about']" pageTransition="fade" class="home-item" row="1" col="1" >
                <Image src="~/images/about.png" marginTop="7" height="130" width="130" stretch="aspectFill" verticalAlignment="center" horizontalAlignment="center"></Image>
                <Label text="About" verticalAlignment="center" style="padding-bottom: 20px;" horizontalAlignment="center"></Label>
            </StackLayout>
            

            <StackLayout class="home-item" row="1" col="3" (tap)="timetable()">
                <Image src="~/images/timetable.png" marginTop="7" style="padding-top: 20;" height="130" width="130"  stretch="aspectFill" verticalAlignment="center" horizontalAlignment="center"></Image>
                <Label fontWeight="500"  text="Time Table" verticalAlignment="center" style="padding-bottom: 20px;" horizontalAlignment="center"></Label>
            </StackLayout>

            <StackLayout class="home-item" row="3" col="1" (tap)="marks()">
                <Image src="~/images/marks.png" marginTop="7" style="padding-top: 20;" height="130" width="130"  stretch="aspectFill" verticalAlignment="center" horizontalAlignment="center"></Image>
                <Label fontWeight="500"  text="Marks" verticalAlignment="center" style="padding-bottom: 20px;" horizontalAlignment="center"></Label>
            </StackLayout>

            <StackLayout class="home-item" row="3" col="3" (tap)="blog()">
                <Image src="~/images/blog.png" marginTop="7" style="padding-top: 20;" height="130" width="130" stretch="aspectFill" verticalAlignment="center" horizontalAlignment="center"></Image>
                <Label fontWeight="500"  text="Blogs" verticalAlignment="center" style="padding-bottom: 20px;" horizontalAlignment="center"></Label>
            </StackLayout>

            <StackLayout  pageTransition="slide" *ngIf="this.isClassTeacher" class="home-item" row="5" col="1" (tap)="attendance()">
                <Image src="~/images/attendance.png" marginTop="7" style="padding-top: 20;" height="130" width="130" stretch="aspectFill" verticalAlignment="center" horizontalAlignment="center"></Image>
                <Label fontWeight="500"  fontWeight="500"  text="Attendance" verticalAlignment="center" style="padding-bottom: 20px;" horizontalAlignment="center"></Label>
            </StackLayout>

            <StackLayout class="home-item" *ngIf="this.isClassTeacher" row="5" col="3" (tap)="studentdetails()"> 
                <Image src="~/images/student.png" marginTop="7" height="130" width="130"  stretch="aspectFill" verticalAlignment="center" horizontalAlignment="center"></Image>
                <Label fontWeight="500"  text="Student Details" verticalAlignment="center" style="padding-bottom: 20px;" horizontalAlignment="center"></Label>
            </StackLayout>

        </GridLayout>
    </StackLayout>
</ScrollView>
