<ActionBar title="Exam">
    <ActionItem position="right" (tap)="goHome()">
        <Image height=40 width=40 src="~/images/homeicon.png"></Image>
    </ActionItem>
</ActionBar> 

<StackLayout>
    <StackLayout>
        <Label *ngIf="this.waiting" text="Loading......Please Wait"></Label>
        <Label *ngIf="!this.waiting" text="Select an Exam Type" class="local-heading" style="text-align: center;" fontSize="20"></Label>
    </StackLayout>
    <ScrollView height="100%" *ngIf="!this.waiting">
        <StackLayout>
            <template *ngFor="let exam of this.examtypes;index as i">
                <StackLayout [nsRouterLink]="['/marksupdatepage',this.class,this.section,this.subject,exam.Exam]" style="border-radius: 20%; border-color: black; background-color: #f1f1f1;" marginTop="3" marginBottom="3">
                    <Label [text]="exam.Exam" fontSize="14" marginTop="7" marginBottom="7" class="local-heading" style="text-align: center;"></Label>
                </StackLayout>
                <Label text="" class="line"></Label>

            </template>
        </StackLayout>
    </ScrollView>
</StackLayout>