<ActionBar title="Exam">
    <ActionItem position="right" (tap)="goHome()">
        <Image height=40 width=40 src="~/images/homeicon.png"></Image>
    </ActionItem>
</ActionBar> 

<StackLayout>
    <StackLayout>
        <Label *ngIf="this.waiting" text="Loading......Please Wait"></Label>
        <Button *ngIf="!this.waiting" text="Add New Test" (tap)="add()" width="80%" class="plusbutton"></Button>
    </StackLayout>
    <ScrollView height="100%">
        <StackLayout>
            <template *ngFor="let exam of this.examtypes;index as i">
                <GridLayout rows="auto" column="*">
                    <Label [nsRouterLink]="['/marksupdatepage',this.class,this.section,this.teacherid,exam.Exam]" [text]="exam.Exam" horizontalAlignment="center" class="local-heading"></Label>
                </GridLayout>
            </template>
        </StackLayout>
    </ScrollView>
</StackLayout>