.page {
    align-items: center;
    flex-direction: column;
  }
.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
  }
.logo{
    align-self: center;
    height: 50%;
    width: 50%;
    padding-bottom: 0%;
}
.input-rounded {
  padding: 7%;
  margin-top: 20;
  border-width: 1;
  border-color : black;
  background-color: white;
  margin-bottom: 20px;
  border-radius:5;
  padding-top: 10%;
  padding-bottom: 10%;
}
.btn-btn-primary{
  margin-top: 6%;
    width:80%;
    color: black;
    text-align: center;
    background-color: lightblue;
}
