<StackLayout *ngIf="this.loading">
    <Label text="Loading.... Please Wait !" class="loading"> </Label>
</StackLayout>
<StackLayout *ngIf="!this.loading">
    <!-- REY IKKADA FORM PETTU-->
    <Label text="Student Name" class="local-heading"></Label>
    <TextField [(ngModel)]="this.student_name" class="input-add-db" autocorrect="false"></TextField>


    <GridLayout rows="auto,auto" columns="50*,50*">
        <Label text="Class" class="local-heading" row="0" col="0"></Label>
        <TextView [(ngModel)]="this.class" row="1" col="0" class="input-add-db"  editable="false" autocorrect="false"></TextView>
        <Label text="Section" row="0" col="1" class="local-heading"></Label>
        <TextView [(ngModel)]="this.section" row="1" col="1" class="input-add-db" editable="false" autocorrect="false"></TextView>
    </GridLayout>

    <ActivityIndicator *ngIf="this.waiting" class="activity-indicator" [busy]="this.waiting"></ActivityIndicator>

    <GridLayout rows="auto,auto" columns="50*,50*">
    <Label text="Roll No" class="local-heading" row="0" col="0"></Label>
    <TextField [(ngModel)]="this.studentid" row="1" col="0" class="input-add-db"  autocorrect="false"></TextField>
    <Label text="Attendance" row="0" col="1" class="local-heading"></Label>
    <TextField [(ngModel)]="this.student_attendance" row="1" col="1" class="input-add-db"  autocorrect="false"></TextField>
    </GridLayout>

    <Label text="Address" class="local-heading"></Label>
    <TextView [(ngModel)]="this.student_address" class="input-add-db"  height="20%" autocorrect="false"></TextView>

    <StackLayout>
    <Label *ngIf="this.notvalid" fontSize="15" class="errortext" text="Please Enter Valid Data"></Label>
    </StackLayout>
    <Button width="80%" text="&#10165; Update" class="deletebutton" (tap)="updateStudent()"></Button>
</StackLayout>

