<StackLayout verticalAlignment="center">
<ScrollView height="100%">
  <StackLayout>
    <Label *ngIf="this.waiting"></Label>


    <StackLayout *ngIf="!this.waiting">
      <Button (tap)="openclasses()"  [text]="this.exam" width="90%" class="plusbutton"></Button>
      <TextField *ngIf="this.openClasses" [(ngModel)]="this.examtype" width="70%" style="text-align: center;" hint="Enter Exam Type" horizontalAlignment="center" class="txtfld"></TextField>
      <StackLayout *ngIf="this.openClasses">
          <template *ngFor="let item of this.classes; index as i">
            
              <GridLayout rows="auto" columns="*,auto,auto,auto,*" style="background-color: {{this.class_select[i]}};" (tap)="change(i)">
                <Label [text]="item.Class_Id" fontSize="20" row="0" col="1"></Label>
                <Label text="-" fontSize="20" row="0" col="2"></Label>
                <Label [text]="item.Class_Section" fontSize="20" row="0" col="3"></Label>
              </GridLayout>
              <Label text="" class="line"></Label>
            
          </template>
        </StackLayout>
      <Button (tap)="add()" *ngIf="this.openClasses" text="Add {{this.examtype}} To These Sections" class="addbutton"></Button>
    </StackLayout>


    <StackLayout *ngIf="!this.waiting">
      <Button (tap)="Open()" [text]="this.class_selected" class="plusbutton" width="90%"></Button>
      <StackLayout *ngIf="this.open">
          <StackLayout>
            <template *ngFor="let item of this.classes; index as i">
              <GridLayout rows="auto" columns="*,auto,auto,auto,*" (tap)="selected(i)">
                <Label [text]="item.Class_Id" fontSize="20" row="0" col="1"></Label>
                <Label text="-" fontSize="20" row="0" col="2"></Label>
                <Label [text]="item.Class_Section" fontSize="20" row="0" col="3"></Label>
              </GridLayout>
              <Label text="" class="line"></Label>
            </template>
          </StackLayout>
      </StackLayout>
    </StackLayout>


    <StackLayout *ngIf="this.is_Class_Selected">
      <GridLayout rows="auto" columns="*,auto,*">
        <Label text="The Exams in Class {{this.class_selected}} are as follows:" row="0" col="1" class="local-heading" fontSize="18"></Label>
      </GridLayout>
        <StackLayout style="background-color: #c0c0c0;">
          <template *ngFor="let item of class_units;index as i">
            <StackLayout>
              <GridLayout rows="auto" columns="*,auto,auto,*">
                <Label [text]="item" fontSize="15" row="0" col="1" width="40%" style="padding-bottom: 5; padding-top: 5; text-align:center" ></Label>
                <StackLayout (tap)="removeexam(i)" row="0" col="2" style="padding-bottom: 5; padding-top: 5;">
                  <Image src="~/images/minus.png" height="30" width="30" strech="Aspectfill" ></Image>
                </StackLayout>
              </GridLayout>
              <Label text="" class="line" ></Label>
            </StackLayout>
          </template>
        </StackLayout>
    </StackLayout>

  </StackLayout>
</ScrollView>
</StackLayout>