<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332742698641-lul8oirekbsr1rqs6aik8vhb30sh59pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332742698641-lul8oirekbsr1rqs6aik8vhb30sh59pk</string>
	<key>API_KEY</key>
	<string>AIzaSyBqilRDgGdSBr1HwbFvl_WvoQOE_j9wX7k</string>
	<key>GCM_SENDER_ID</key>
	<string>332742698641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.ktsdpr</string>
	<key>PROJECT_ID</key>
	<string>ktsdpr-18606</string>
	<key>STORAGE_BUCKET</key>
	<string>ktsdpr-18606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332742698641:ios:3fb719ca603fd785af8130</string>
	<key>DATABASE_URL</key>
	<string>https://ktsdpr-18606-default-rtdb.firebaseio.com</string>
</dict>
</plist>