<StackLayout>
    <StackLayout>
      <Label *ngIf="this.waiting" class="loading" fontSize="20" text="Loading.. Please Wait"></Label>
      <Label *ngIf="!this.waiting" class="local-heading" fontSize="20" style="padding-bottom: 10;" horizontalAlignment="center" text="Select a Class"></Label>
    </StackLayout>
  <ScrollView height="100%">
    <StackLayout>
          <template *ngFor="let item of this.classes">
            <GridLayout [nsRouterLink]="['/exampage', item.Class_Id,item.Class_Section,this.teacherid,this.subject]" rows="auto" columns="*,auto,auto,auto,auto,*">
              <Label text="Class : " horizontalAlignment="right" class="local-side-heading" row="0" col="0"></Label>
              <Label [text]="item.Class_Id" class="local-side-heading" row="0" col="1" style="padding-right: 8;" ></Label>
              <Label text="Section : " horizontalAlignment="right" class="local-side-heading" row="0" col="2"></Label>
              <Label [text]="item.Class_Section" class="local-side-heading" row="0" col="3" ></Label>
            </GridLayout>

            <Label text="" class="line"></Label>
          </template>
      </StackLayout>
    </ScrollView>
    </StackLayout>
    