<ActionBar title="Timetable">
  <ActionItem position="right" (tap)="goHome()">
      <Image height=40 width=40 src="~/images/homeicon.png"></Image>
  </ActionItem>
</ActionBar>  

<StackLayout>
  <ScrollView height="100%">
  <StackLayout verticalAlignment="center">
  <Label *ngIf="this.waiting" text="Please Wait"></Label>
  <StackLayout *ngIf="!this.waiting">
      <Button (tap)="openMonday()" text="Monday"  class="plusbutton" height="10%" width="100%"></Button>
      <StackLayout *ngIf="openmonday" style="background-color: #c0c0c0;">
        <template *ngFor="let item of this.monday">
          <StackLayout>
            <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
              <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
              <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
              <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
              <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
            </GridLayout>
            <Label text="" class="line" width="100%"></Label>
          </StackLayout>
        </template>
        <Label *ngIf="this.monday.length==0" text="No Records as of now :-) " horizontalAlignment="center"></Label>
      </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.waiting">
    <Button (tap)="openTuesday()" text="Tuesday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="opentuesday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.tuesday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
      <Label *ngIf="this.tuesday.length==0" text="No Records as of now :-) " horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.waiting">
    <Button (tap)="openWednesday()" text="Wednesday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openwednesday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.wednesday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
      <Label *ngIf="this.wednesday.length==0" text="No Records as of now :-) " horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.waiting">
    <Button (tap)="openThursday()" text="Thursday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openthursday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.thursday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
      <Label *ngIf="this.thursday.length==0" text="No Records as of now :-) " horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.waiting">
    <Button (tap)="openFriday()" text="Friday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openfriday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.friday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
      <Label *ngIf="this.friday.length==0" text="No Records as of now :-) " horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.waiting">
    <Button (tap)="openSaturday()" text="Saturday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="opensaturday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.saturday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
      <Label *ngIf="this.saturday.length==0" text="No Records" horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
</StackLayout>
</ScrollView>
</StackLayout>    