<Label *ngIf="!this.bool" text="Loading... Please wait"></Label>

<StackLayout>
<GridLayout columns="*,*,*" rows="auto,auto,auto" style="padding-bottom: 100px;">
    <Button *ngIf="this.bool" text="Monday" row="0" col="0" width="33%" (tap)="mon()" style="background-color: {{this.moncol}}"></Button>
    <Button *ngIf="this.bool" text="Tuesday" row="0" col="1" width="33%" (tap)="tue()" style="background-color:{{this.tuecol}}"></Button>
    <Button *ngIf="this.bool" text="Wednesday" row="0" col="2" width="33%" (tap)="wed()" style="background-color:{{this.wedcol}}"></Button>
    <Button *ngIf="this.bool" text="Thursday" row="1" col="0" width="33%" (tap)="thu()" style="background-color:{{this.thucol}}"></Button>
    <Button *ngIf="this.bool" text="Friday" row="1" col="1" width="33%" (tap)="fri()" style="background-color:{{this.fricol}}"></Button>
    <Button *ngIf="this.bool" text="Saturday" row="1" col="2" width="33%" (tap)="sat()" style="background-color:{{this.satcol}}"></Button>
  </GridLayout>
  <ScrollView>
    <StackLayout *ngIf="this.bool">
     <GridLayout columns="20*,14*,12*,14*,7*,20*,9*" rows="auto">
      <Label text="Start Time" col="1" row="0" ></Label>
      <Label text="End Time" col="3" row="0"></Label>
      <Label text="Period" col="5" row="0" margin-top="50"></Label>
     </GridLayout>
    <template *ngFor="let col of this.rows; let i=index">
     <GridLayout columns="16*,14*,1*,14*,14*,1*,14*,20*,16*" rows="30">
      <Label verticalAlignment="center" horizontalAlignment="right" [text]="col.Start_Hour" col="1" row="0" ></Label>
      <Label  verticalAlignment="center" text=":" col="2" row="0" ></Label>
      <Label verticalAlignment="center" horizontalAlignment="left" [text]="col.Start_Minute" col="3" row="0" ></Label>
   
      <Label [text]="col.End_Hour" verticalAlignment="center" horizontalAlignment="right" col="4" row="0" ></Label>
      <Label  verticalAlignment="center" text=":" col="5" row="0"></Label>
      <Label [text]="col.End_Minute" verticalAlignment="center" horizontalAlignment="left" col="6" row="0"></Label>
   
      <Label [text]="col.Subject_Id" width="50" col="7" row="0" verticalAlignment="center" ></Label>
     </GridLayout>
    </template>
    </StackLayout>
   </ScrollView>

</StackLayout>