<StackLayout>
    <StackLayout>
      <Label *ngIf="this.waiting" text="Please wait.... Loading"></Label>
      <Label text="Teacher Name : {{this.teacher_name}}" horizontalAlignment="center"></Label>
    </StackLayout>
    
    <ScrollView height="100%">
    <StackLayout>
    <template *ngFor="let item of this.class_and_section; let i=index">
  
      <GridLayout  columns="2*,85*,13*" rows="auto,auto,auto" style="padding-bottom:10%;">
        <GridLayout paddingTop="5%" rows="*" columns="auto,auto,auto,auto,*" row="2" col="1">
          <Label text="Class: " fontSize="15" class="local-heading" row="0" col="0"></Label>
          <Label [text] ="item.Class_Id" fontSize="15" row="0" col="1"></Label>
          <Label text="Section: " fontSize="15" class="local-heading" row="0" col="2"></Label>
          <Label [text] ="item.Class_Section" fontSize="15" row="0" col="3"></Label>
        </GridLayout>
  
        <StackLayout (tap)=remove(i) height="20" width="0" rowSpan="2" row="0" col="2" verticalAlignment="center">
          <Image src="~/images/minus.png"></Image>
        </StackLayout>
      </GridLayout>
      <Label class="line"></Label>
    </template>
    </StackLayout>
    </ScrollView>
  </StackLayout>
  