<ActionBar title="Blog">
  <ActionItem position="right" (tap)="goHome()">
      <Image height=40 width=40 src="~/images/homeicon.png"></Image>
  </ActionItem>
</ActionBar>  

<StackLayout>
    <StackLayout>
    <Button *ngIf="this.isRoot" text="Add Blog" (tap)="add()" class="addbutton"></Button>
    <Label *ngIf="this.loading" text="Loading .... Please Wait" class="loading"></Label>
    <Label *ngIf="this.nodata && this.isRoot" class="nodata" text="No blogs as of now ! :-/  Try adding one"></Label>
  </StackLayout>
    <ScrollView height="100%">
      <StackLayout>
          <template *ngFor="let item of this.blogs; let i=index">
            <StackLayout style="border-radius: 20%; background-color: #f1f1f1;" marginTop="7" marginBottom="7">
              <GridLayout columns="2*,85*,13*" rows="auto,auto" style="padding-bottom:10%;">
              <StackLayout [nsRouterLink]="['/viewblog',item.Date,item.Time,this.isRoot]" pageTransition="fade" row="0" col="1">
                <Label fontSize=20 class="blog-heading"  [text]="item.Heading"></Label>
                <Label class="blogcontent" [text]="item.Content" textWrap="true"></Label>
              </StackLayout>
              <GridLayout rows="auto" columns="30*,30*,40*" row="1" col="1">
                <Label class="timeanddate" row="0" col="0" [text]="item.Date"></Label>
                <Label class="timeanddate" row="0" col="1" [text]="item.Time"></Label>
              </GridLayout>

              <StackLayout *ngIf="this.isRoot" (tap)=remove(i) height="30" width="0" row="0" col="2" verticalAlignment="center">
                <Image height="30" width="30" stretch="aspectFill" src="~/images/minus.png" ></Image>
              </StackLayout>
              </GridLayout>
            </StackLayout>
            <Label class="line"></Label>
            </template>
          </StackLayout>
    </ScrollView>
</StackLayout>
<!-- [nsRouterLink]="['/'+this.detail, item]"  -->
