<Label *ngIf="!this.bool" text="Loading... Please wait"></Label>

<StackLayout>
<GridLayout columns="*,*,*" rows="auto,auto,auto">
    <Button *ngIf="this.bool" text="Monday" row="0" col="0" width="33%" (tap)="mon()" style="background-color: {{this.moncol}}"></Button>
    <Button *ngIf="this.bool" text="Tuesday" row="0" col="1" width="33%" (tap)="tue()" style="background-color:{{this.tuecol}}"></Button>
    <Button *ngIf="this.bool" text="Wednesday" row="0" col="2" width="33%" (tap)="wed()" style="background-color:{{this.wedcol}}"></Button>
    <Button *ngIf="this.bool" text="Thursday" row="1" col="0" width="33%" (tap)="thu()" style="background-color:{{this.thucol}}"></Button>
    <Button *ngIf="this.bool" text="Friday" row="1" col="1" width="33%" (tap)="fri()" style="background-color:{{this.fricol}}"></Button>
    <Button *ngIf="this.bool" text="Saturday" row="1" col="2" width="33%" (tap)="sat()" style="background-color:{{this.satcol}}"></Button>
  </GridLayout>
<GridLayout columns="*,*" rows="auto">
  <Button *ngIf="this.bool" text="Add Coloumn" row="0" col="0" width="50%" style="background-color: #F8C471;" (tap)="addcol()"></Button>
  <Button *ngIf="this.bool" text="Change" row="0" col="1" width="50%" (tap)="change()" style="background-color: #76D7C4 ;"></Button>
</GridLayout>
  <ScrollView>
    <StackLayout *ngIf="this.bool">
     <GridLayout columns="17*,14*,12*,14*,7*,20*,12*" rows="auto">
      <Label text="Start Time" col="1" row="0" ></Label>
      <Label text="End Time" col="3" row="0"></Label>
      <Label text="Period" col="5" row="0" margin-top="50"></Label>
     </GridLayout>
    <template *ngFor="let col of this.rows; let i=index">
     <GridLayout columns="11*,14*,1*,14*,14*,1*,14*,20*,10*,11*" rows="auto">
      <TextField [(ngModel)]="col.Start_Hour" col="1" row="0" ></TextField>
      <Label style="padding-top: 29px;"  horizontalAlignment="center" text=":" col="2" row="0" ></Label>
      <TextField [(ngModel)]="col.Start_Minute" col="3" row="0" ></TextField>
   
      <TextField [(ngModel)]="col.End_Hour" col="4" row="0" ></TextField>
      <Label style="padding-top: 30px;" text=":" col="5" row="0"></Label>
      <TextField [(ngModel)]="col.End_Minute" col="6" row="0"></TextField>
   
      <TextField [(ngModel)]="col.Subject_Id" width="50" col="7" row="0"></TextField>
      <StackLayout (tap)="remove(i)" col="8" row="0"><Image src="~/images/minus.png" height="30" width="30" col="3" row="0"></Image></StackLayout>
     </GridLayout>
    </template>
    </StackLayout>
   </ScrollView>

</StackLayout>