<ActionBar title="Timetable">
  <ActionItem position="right" (tap)="goHome()">
      <Image height=40 width=40 src="~/images/homeicon.png"></Image>
  </ActionItem>
</ActionBar> 

<Label *ngIf="!this.bool" text="Loading... Please wait"></Label>

<StackLayout>
<GridLayout columns="*,*,*" rows="auto,auto,auto">
    <Button *ngIf="this.bool" text="Monday" row="0" col="0" width="33%" (tap)="mon()" style="background-color: {{this.moncol}}"></Button>
    <Button *ngIf="this.bool" text="Tuesday" row="0" col="1" width="33%" (tap)="tue()" style="background-color:{{this.tuecol}}"></Button>
    <Button *ngIf="this.bool" text="Wednesday" row="0" col="2" width="33%" (tap)="wed()" style="background-color:{{this.wedcol}}"></Button>
    <Button *ngIf="this.bool" text="Thursday" row="1" col="0" width="33%" (tap)="thu()" style="background-color:{{this.thucol}}"></Button>
    <Button *ngIf="this.bool" text="Friday" row="1" col="1" width="33%" (tap)="fri()" style="background-color:{{this.fricol}}"></Button>
    <Button *ngIf="this.bool" text="Saturday" row="1" col="2" width="33%" (tap)="sat()" style="background-color:{{this.satcol}}"></Button>
  </GridLayout>


<GridLayout columns="*,*" rows="auto">
  <Button *ngIf="this.bool" text="Add Coloumn" row="0" col="0" width="50%" style="background-color: #F8C471;" (tap)="addcol()"></Button>
  <Button *ngIf="this.bool" text="Change" row="0" col="1" width="50%" (tap)="change()" style="background-color: #76D7C4 ;"></Button>
</GridLayout>

   <ScrollView height="100%" *ngIf="this.bool">
     <StackLayout>
     <GridLayout rows="auto" columns="13*,15*,12*,15*,12*,20*,13*">
      <Label text="Start Time" col="1" row="0" width="15%" horizontalAlignment="center"></Label>
      <Label text="End Time" col="3" row="0" width="15%" horizontalAlignment="center"></Label>
      <Label text="Subject" col="5" row="0" width="20%" horizontalAlignment="center"></Label>
     </GridLayout>
     <template *ngFor="let col of this.rows; let i=index">
      <GridLayout rows="auto" columns="13*,15*,12*,15*,12*,20*,13*" style="padding-bottom: 10px;">
        <TextField [(ngModel)]="col.Start" col="1" row="0" style="background-color: lightgray;" width="15%"></TextField>
        <TextField [(ngModel)]="col.End" col="3" row="0" style="background-color: lightgray;" width="15%"></TextField>
        <TextField [(ngModel)]="col.Subject" col="5" row="0" style="background-color: lightgray;" width="20%"></TextField>
        <StackLayout (tap)="remove(i)" col="6" row="0">
        <Image src="~/images/minus.png" height="30" width="30"></Image></StackLayout>
       </GridLayout>
     </template>
    </StackLayout>
   </ScrollView>

</StackLayout>
