<!--<Label *ngIf="this.loading" fontSize="15%" text="Loading... Please wait" class="loading"></Label>

<StackLayout *ngIf="!this.loading">
  <GridLayout columns="*,*,*" rows="auto,auto,auto" style="padding-bottom: 100px;">
    <Button *ngIf="!this.loading" text="Monday" row="0" col="0" width="33%" (tap)="mon()" style="background-color: {{this.moncol}}"></Button>
    <Button *ngIf="!this.loading" text="Tuesday" row="0" col="1" width="33%" (tap)="tue()" style="background-color:{{this.tuecol}}"></Button>
    <Button *ngIf="!this.loading" text="Wednesday" row="0" col="2" width="33%" (tap)="wed()" style="background-color:{{this.wedcol}}"></Button>
    <Button *ngIf="!this.loading" text="Thursday" row="1" col="0" width="33%" (tap)="thu()" style="background-color:{{this.thucol}}"></Button>
    <Button *ngIf="!this.loading" text="Friday" row="1" col="1" width="33%" (tap)="fri()" style="background-color:{{this.fricol}}"></Button>
    <Button *ngIf="!this.loading" text="Saturday" row="1" col="2" width="33%" (tap)="sat()" style="background-color:{{this.satcol}}"></Button>
  </GridLayout>
  <Label text="Hey ! Here is your schedule for today" fontSize="17px" horizontalAlignment="center"></Label>
  <Label text=""></Label>
  <GridLayout rows="*" columns="4*,21*,25*,25*,25*">
      <Label text="Class" class="local-heading" row="0" col="1"></Label>
      <Label text="Subject" class="local-heading" row="0" col="2"></Label>
      <Label text="StartTime" class="local-heading" row="0" col="3"></Label>
      <Label text="EndTime" class="local-heading" row="0" col="4"></Label>
  </GridLayout>
  <StackLayout>
    <template *ngFor="let col of this.rows; let i=index">
        <GridLayout rows="*" columns="4*,21*,25*,25*,25*">
            <Label verticalAlignment="center" horizontalAlignment="right" text="col.Class_Id" row="0" col="1"></Label>
            <Label verticalAlignment="center" horizontalAlignment="right" text="col.Class_Section"  row="0" col="2"></Label>
            <Label verticalAlignment="center" horizontalAlignment="right" text="col.Start"  row="0" col="3"></Label>
            <Label verticalAlignment="center" horizontalAlignment="right" text="col.End"  row="0" col="4"></Label>
        </GridLayout>
    </template>
</StackLayout>
</StackLayout>-->



<ActionBar title="TimeTable">
  <ActionItem position="right" (tap)="goHome()">
      <Image height=40 width=40 src="~/images/homeicon.png"></Image>
  </ActionItem>
</ActionBar> 

<StackLayout>
  <ScrollView height="100%">
  <StackLayout verticalAlignment="center">
  <Label *ngIf="this.loading" text="Loading...Please wait" class="loading"></Label>
  <StackLayout *ngIf="!this.loading">
      <Button (tap)="openMonday()" text="Monday"  class="plusbutton" height="10%" width="100%"></Button>
      <StackLayout *ngIf="openmonday" style="background-color: #c0c0c0;">
        <template *ngFor="let item of this.monday">
          <StackLayout>
            <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
              <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
              <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
              <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
              <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
            </GridLayout>
            <Label text="" class="line" width="100%"></Label>
          </StackLayout>
        </template>
      </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openTuesday()" text="Tuesday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="opentuesday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.tuesday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openWednesday()" text="Wednesday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openwednesday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.wednesday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openThursday()" text="Thursday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openthursday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.thursday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openFriday()" text="Friday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openfriday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.friday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openSaturday()" text="Saturday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="opensaturday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.saturday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
</StackLayout>
</ScrollView>
</StackLayout>
