
<ActionBar title="TimeTable">
  <ActionItem position="right" (tap)="goHome()">
      <Image height=40 width=40 src="~/images/homeicon.png"></Image>
  </ActionItem>
</ActionBar> 

<Label *ngIf="this.loading" fontWeight="700"  fontSize="17" text="Loading...Please wait" class="loading"></Label>

<StackLayout *ngIf="!this.loading">
  <GridLayout *ngIf="!this.loading" rows="auto" columns="50*,50*">
    <StackLayout  backgroundColor="black" clearHistory="true" row="0" col="0">
      <Label horizontalAlignment="center" text="Your Time Table" fontWeight="800"  fontSize="17" color="#f1f1f1"></Label>
    </StackLayout>
    <StackLayout [nsRouterLink]="['/updatetimetable',this.teacherclass,this.teachersection]" pageTransition="slideLeft" row="0" col="1" backgroundColor="#f1f1f1">
      <Label horizontalAlignment="center" text="Class Time Table" fontWeight="800"  fontSize="17" color="black"></Label>
    </StackLayout>
  </GridLayout> 
 
 

  <ScrollView *ngIf="!this.loading" height="85%">
  <StackLayout verticalAlignment="center">
  <StackLayout *ngIf="!this.loading">
      <Button (tap)="openMonday()" text="Monday"  class="plusbutton" height="10%" width="100%"></Button>
      <StackLayout *ngIf="openmonday" style="background-color: #c0c0c0;">
        <template *ngFor="let item of this.monday">
          <StackLayout>
            <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
              <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
              <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
              <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
              <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
            </GridLayout>
            <Label text="" class="line" width="100%"></Label>
          </StackLayout>
        </template>
      </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openTuesday()" text="Tuesday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="opentuesday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.tuesday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openWednesday()" text="Wednesday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openwednesday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.wednesday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openThursday()" text="Thursday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openthursday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.thursday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openFriday()" text="Friday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="openfriday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.friday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
  <StackLayout *ngIf="!this.loading">
    <Button (tap)="openSaturday()" text="Saturday"  class="plusbutton" height="10%" width="100%"></Button>
    <StackLayout *ngIf="opensaturday" style="background-color: #c0c0c0;">
      <template *ngFor="let item of this.saturday">
        <StackLayout>
          <GridLayout rows="auto" columns="*,auto,auto,auto,*,auto,*">
            <Label [text]="item.Start" horizontalAlignment="center" fontSize="20" row="0" col="1"></Label>
            <Label text="-" row="0" col="2" horizontalAlignment="center" fontSize="20"></Label>
            <Label [text]="item.End" horizontalAlignment="center" fontSize="20" row="0" col="3"></Label>
            <Label [text]="item.Subject" horizontalAlignment="center" fontSize="20" row="0" col="5"></Label>
          </GridLayout>
          <Label text="" class="line" width="100%"></Label>
        </StackLayout>
      </template>
    </StackLayout>
  </StackLayout>
</StackLayout>
</ScrollView>
</StackLayout>
